In [1]:
#Importing the data
#1 is male
#0 is female
import pandas as pd
df = pd.read_csv(r'C:\Users\karth\Desktop\Data Science\Corana portfolio\music.csv')
df

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [8]:
#Creating input dataset
X = df.drop(columns = ['genre'])
X

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [9]:
#Creating output dataset
Y = df['genre']
Y

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

In [10]:
#Importing machine learning modules
from sklearn.tree import DecisionTreeClassifier
#Fitting data to decisiontreeclassifier
model = DecisionTreeClassifier()
model.fit(X, Y)

C:\Users\karth\Anaconda3\lib\site-packages\sklearn\tree\tree.py:163: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  y_encoded = np.zeros(y.shape, dtype=np.int)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [5]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\karth\anaconda3\lib\site-packages (0.21.3)
Requirement already satisfied: joblib>=0.11 in c:\users\karth\anaconda3\lib\site-packages (from scikit-learn) (0.13.2)
Requirement already satisfied: numpy>=1.11.0 in c:\users\karth\anaconda3\lib\site-packages (from scikit-learn) (1.21.6)
Requirement already satisfied: scipy>=0.17.0 in c:\users\karth\anaconda3\lib\site-packages (from scikit-learn) (1.3.1)

In [12]:
#Testing out predictions
model.predict([[21,1],[21,0]])

array(['HipHop', 'Dance'], dtype=object)

In [132]:
#Importing modules
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
#Splitting our data into training and testing datasets
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.8)

#Fitting data to decisiontreeclassifier
model = DecisionTreeClassifier()
model.fit(X_train, Y_train)

predictions = model.predict(X_test)

score = accuracy_score(Y_test, predictions)
score

C:\Users\karth\Anaconda3\lib\site-packages\sklearn\tree\tree.py:163: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  y_encoded = np.zeros(y.shape, dtype=np.int)

0.3333333333333333

In [133]:
#Testing to see if changes each time - it does
X_test

    age  gender
9    20       0
1    23       1
2    25       1
16   34       0
0    20       1
6    31       1
3    26       1
14   30       0
11   25       0
4    29       1
10   21       0
13   27       0
8    37       1
7    33       1
15   31       0

In [134]:
#Testing to see if changes each time - it does
Y_test

9         Dance
1        HipHop
2        HipHop
16    Classical
0        HipHop
6     Classical
3          Jazz
14     Acoustic
11        Dance
4          Jazz
10        Dance
13     Acoustic
8     Classical
7     Classical
15    Classical
Name: genre, dtype: object

In [162]:
#This time using less data to test and more to train
#Importing modules
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
#Splitting our data into training and testing datasets
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2)

#Fitting data to decisiontreeclassifier
model = DecisionTreeClassifier()
model.fit(X_train, Y_train)

predictions = model.predict(X_test)

score = accuracy_score(Y_test, predictions)
score

C:\Users\karth\Anaconda3\lib\site-packages\sklearn\tree\tree.py:163: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  y_encoded = np.zeros(y.shape, dtype=np.int)

0.75

In [159]:
X_test

    age  gender
7    33       1
10   21       0
5    30       1
9    20       0

In [160]:
Y_test

7     Classical
10        Dance
5          Jazz
9         Dance
Name: genre, dtype: object

In [165]:
#Storing the model as a file
from sklearn.externals import joblib

joblib.dump(model, 'Model.joblib')

C:\Users\karth\Anaconda3\lib\site-packages\sklearn\externals\joblib\__init__.py:15: DeprecationWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=DeprecationWarning)

['Model.joblib']

In [166]:
model

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [168]:
#Visualising the model in VScode
from sklearn import tree
tree.export_graphviz(model, out_file='Model.dot', feature_names=['age','gender'], class_names=sorted(Y.unique()),label='all',rounded=True,filled=True)